# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/ecbilt
/orig/utils/inputfiles
/orig/utils/tograds
/orig/utils/tonc
/orig/utils/convert-sst
/orig/utils/convert-sst-ascii-to-nc
/orig/utils/convert-sst-nc-to-ascii
/orig/utils/convert-sst-ascii-to-dat
/orig/utils/convert-orog-ascii-to-nc
/experiments/doc/ecbilt-experiments.aux
/experiments/doc/ecbilt-experiments.log
/loveclim/src/ecbilt
/loveclim/utils/restart-to-nc
/orig/ecbilt
