# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/ecbilt
/utils/inputfiles
/utils/tograds
/utils/tonc
/utils/convert-sst
/utils/convert-sst-ascii-to-nc
/utils/convert-sst-nc-to-ascii
/utils/convert-sst-ascii-to-dat
/utils/convert-orog-ascii-to-nc
/experiments/doc/ecbilt-experiments.aux
/experiments/doc/ecbilt-experiments.log
